include includes/header.pug 
block content
    link(rel="stylesheet" href="/stylesheets/dashboard.css")
    body
        .loader-bg
            .loader-track
                .loader-fill
        include includes/sidenav.pug 
        include includes/usernav.pug
        .pcoded-main-container
            .pcoded-wrapper
                .pcoded-content
                    .pcoded-inner-content
                        .main-body
                            .page-wrapper
                                .row
                                    .col-md-6.col-xl-4
                                        .card.daily-sales
                                            .card-block
                                                h6.mb-4 New Schools
                                                .row.d-flex.align-items-center
                                                    .col-9
                                                        h3.f-w-300.d-flex.align-items-center.m-b-0
                                                            i.feather.icon-arrow-up.text-c-green.f-30.m-r-10
                                                            | #{newSchools}
                                                    .col-3.text-right
                                                        p.m-b-0 #[i(class="feather icon-navigation")]
                                    .col-md-6.col-xl-4
                                        .card.daily-sales
                                            .card-block
                                                h6.mb-4 Approved Schools
                                                .row.d-flex.align-items-center
                                                    .col-9
                                                        h3.f-w-300.d-flex.align-items-center.m-b-0
                                                            i.feather.icon-arrow-up.text-c-green.f-30.m-r-10
                                                            | #{approvedSchools}
                                                    .col-3.text-right
                                                        p.m-b-0 #[i(class="feather icon-navigation")]
                                    .col-md-6.col-xl-4
                                        .card.daily-sales
                                            .card-block
                                                h6.mb-4 New Demo Requests
                                                .row.d-flex.align-items-center
                                                    .col-9
                                                        h3.f-w-300.d-flex.align-items-center.m-b-0
                                                            i.feather.icon-arrow-up.text-c-green.f-30.m-r-10
                                                            | #{newDemoSchools}
                                                    .col-3.text-right
                                                        p.m-b-0 #[i(class="feather icon-navigation")]
                                    .col-md-6.col-xl-4
                                        .card.daily-sales
                                            .card-block
                                                h6.mb-4 Demo Schools Running
                                                .row.d-flex.align-items-center
                                                    .col-9
                                                        h3.f-w-300.d-flex.align-items-center.m-b-0
                                                            i.feather.icon-arrow-up.text-c-green.f-30.m-r-10
                                                            | #{apprDemoSchools}
                                                    .col-3.text-right
                                                        p.m-b-0 #[i(class="feather icon-navigation")]

                               
        include includes/footer.pug