include includes/header.pug
block content
    link(rel='stylesheet' , href='/stylesheets/dashboard.css')
    body
        .loader-bg
            .loader-track
                .loader-fill
        include includes/sidenav.pug 
        include includes/usernav.pug
        .pcoded-main-container
            .pcoded-wrapper
                .pcoded-content
                    .pcoded-inner-content
                        .main-body
                            .page-wrapper
                                .card
                                    if classes
                                        .card-header
                                            h5 Class Payments
                                            span.d-block.m-t-5 Select a class:
                                        .card-body
                                            .row
                                                each c in classes
                                                    .col-md-3.mb-3
                                                       - let classUrl = "/staff/finance/all-classes/" + c._id
                                                        a(href=classUrl class="text-dark")
                                                            .field-box
                                                                p #[b #{c.name}]
                                    else
                                        .card-header
                                            h5 Class Payments
                                            span.d-block.m-t-5 You don't have an active class yet.

        include includes/footer.pug