include includes/header.pug
block content
    link(rel='stylesheet' , href='/stylesheets/login.css')
    body
        div(class="container-fluid")
            div(class="row")
                div(class="col-lg-6 chelcin_bg")
                div(class="col-lg-6")
                    .row
                        div(class="col-2")
                        div(class="col-8")
                            div(class="form_bg")
                                div(class="form_container")
                                    div(class="form_content2")
                                        p(class="chelcin_logo") #[a(href="/") #[img(src='/images/skoolnetics/logo-login.png' width="250px")]]
                                        p(class="welcome_text") Please complete to book a demo.
                                        form(method="POST" class="mt-4")
                                            input(type="text" name="schoolName" placeholder="Username" class="form-control mb-3 input_text" id="userName" required)
                                            input(type="email" name="schoolEmail" placeholder="Email Address" class="form-control mb-3 input_text" id="email" required) 
                                            p.text-little#d-e
                                            input(type="text" name="schoolAdminName" placeholder="Full Name" class="form-control mb-3 input_text" id="name" required)
                                            input(type="text" name="address" placeholder="Address" class="form-control mb-3 input_text" id="address" required)
                                           
                                            p.text-little#on-submit
                                            if error   
                                                p.text-little #{error}
                                            div
                                                span.float-left
                                                    input(type="checkbox" class="mt-4 check") 
                                                    span.pl-2.welcome_text I agree with terms and conditions
                                                p.clearfix
                                            div
                                                p(class="submit")
                                            div
                                                button(class="login_btn mb-3" type="submit" id="submit") Book Demo
                                            

        script(src="/javascripts/library/registration.js" type="module")