include includes/header.pug
block content
    link(rel='stylesheet' , href='/stylesheets/dashboard.css')
    body
        .loader-bg
            .loader-track
                .loader-fill
        include includes/sidenav.pug 
        include includes/usernav.pug
        .pcoded-main-container
            .pcoded-wrapper 
                .pcoded-content
                    .pcoded-inner-content
                        .main-body
                            .page-wrapper
                                p.text-right #[a(href="/school/exam-day" class="btn btn-info") Set Exam days #[i(class="fa fa-arrow-right ml-1")]]
                                .card
                                    .card-header.mb-3
                                        h5(class="mb-4") Select the Exam timetable for the class you want to see.
                                    .row.p-3
                                        each c in classchool
                                            - let classUrl = "/school/exam-timetable/class/" + c._id
                                            .col-md-4.mb-3
                                                a(href=classUrl)
                                                    div(class="box-field")
                                                        span #{c.name}








            include includes/footer.pug