include includes/header.pug
block content
    link(rel='stylesheet' , href='/stylesheets/dashboard.css')
    body
        .loader-bg
            .loader-track
                .loader-fill
        include includes/sidenav.pug 
        include includes/usernav.pug
        .pcoded-main-container
            .pcoded-wrapper
                .pcoded-content
                    .pcoded-inner-content
                        .main-body
                            .page-wrapper
                                .card
                                        div(class="card-header")
                                            h5 Create Assignment
                                        div(class="card-body")
                                            p #{message}
                                            form(method="post" class="report-field")
                                                .row
                                                    .col-md-4.col-sm-6.mb-3
                                                        label Subject & Class
                                                        select(name="subject" class="form-control custom-select")
                                                            option(value="" selected disabled="disabled") ------
                                                            each st in staff.teaching 
                                                                option(value=st._id) #{st.subject} (#{st.className})
                                                    
                                                    .col-md-4.col-sm-6.mb-3
                                                        label Released Date
                                                        input(type="date", name="releaseDate" class="form-control")
                                                    .col-md-4.col-sm-6.mb-3
                                                        label Submission Date
                                                        input(type="date", name="submissionDate" class="form-control")
                                                    .col-md-12.mb-3
                                                        label Content
                                                        textarea(name="contentDetail", cols="30", rows="10" class="form-control" placeholder="Notes")
                                                    .col-md-6
                                                        button(type="submit").btn.btn-info.mt-3.pl-5.pr-5 Send Assignment
        include includes/footer.pug