include includes/header.pug
block content
    link(rel='stylesheet' , href='/stylesheets/dashboard.css')
    body
        .loader-bg
            .loader-track
                .loader-fill
        include includes/sidenav.pug 
        include includes/usernav.pug
        .pcoded-main-container
            .pcoded-wrapper
                .pcoded-content
                    .pcoded-inner-content
                        .main-body
                            .page-wrapper
                                .row
                                    .col-md-6
                                        if success
                                            if success.length != 0
                                                .alert.alert-success.alert-dismissible.fade-in(role="alert")
                                                    button.close(type="button" data-dismiss="alert" aria-label="close")
                                                        span(aria-hidden="true") ×
                                                    span #{success}
                                .row
                                    .col-xl-12
                                        .card
                                            .card-header
                                                h5 Subjects
                                                span.d-block.m-t-5 You can add more subjects or remove any one from this list...
                                            .card-body
                                                .row
                                                    each subject in subjects.subjects
                                                        - let deleteUrl = "/school/subjects/" + subject
                                                        div(class="col-lg-3 col-sm-4 col-6 mb-3")
                                                            div(class="box")
                                                                p(class="small-text float-left") #{subject}
                                                                a(class="float-right" href=deleteUrl class="red-color") #[i(class="feather icon-trash")] 
                                                                p(class="clearfix")
                                                hr
                                                div(class="row pt-3 justify-content-center")
                                                    .col-md-6.form-field
                                                        form(action="", method="post")
                                                            label(class="label") Add a Subject :
                                                            input(type="text" name="subject" class="form-control mb-3")
                                                            .text-center
                                                                button(type="submit" class="btn btn-info") Add

        include includes/footer.pug