include includes/header.pug 
block content
    link(rel="stylesheet" href="/stylesheets/dashboard.css")
    body
        .loader-bg
            .loader-track
                .loader-fill
        include includes/sidenav.pug 
        include includes/usernav.pug
        .pcoded-main-container
            .pcoded-wrapper
                .pcoded-content
                    .pcoded-inner-content
                        .main-body
                            .page-wrappers
                                .card
                                    .card-header
                                        h5 Sessions
                                        span.d-block.m-t-5 Click to see terms.
                                    .card-body
                                        if session.length > 0
                                            .row
                                                each sess in session
                                                    .col-md-4.mb-3
                                                        - let viewUrl = '/school/manage-sessions/' + sess._id
                                                        a(href=viewUrl class="text-dark")
                                                            .box-field
                                                                p #[b #{sess.name}]
                                        else
                                            p No session was found.

        include includes/footer.pug