include includes/header.pug 
block content
    link(rel="stylesheet" href="/stylesheets/dashboard.css")
    body
        .loader-bg
            .loader-track
                .loader-fill
        include includes/sidenav.pug 
        include includes/usernav.pug
        .pcoded-main-container
            .pcoded-wrapper
                .pcoded-content
                    .pcoded-inner-content
                        .main-body
                            .page-wrapper
                                .card
                                    if allExam.length > 0
                                        .card-header
                                            h5 CBT Results
                                            span.d-block.m-t-5 Select an exam:
                                        .card-body
                                            .row
                                                each exam in allExam
                                                    .col-md-4
                                                        - let courseUrl = '/staff/cbt/cbt-results/' + exam.examCode
                                                        a(href=courseUrl class="text-dark")
                                                            .field-box
                                                                p #[b #{exam.name}]
                                                                p #{exam.examCode}
                                                                if exam.quick
                                                                    p (#{staffName[exam.quickOwner]})
                                                                else
                                                                    p (School)

        include includes/footer.pug