include includes/header.pug 
block content
    link(rel="stylesheet" href="/stylesheets/dashboard.css")
    body
        .loader-bg
            .loader-track
                .loader-fill
        include includes/sidenav.pug 
        include includes/usernav.pug
        .pcoded-main-container
            .pcoded-wrapper
                .pcoded-content
                    .pcoded-inner-content
                        .main-body
                            .page-wrappers
                                .card
                                    .card-header
                                        h5 Terms
                                        span.d-block.m-t-5 These are terms that have ended. Click to see activities.
                                    .card-body
                                        if terms.length > 0
                                            .row
                                                each term in terms
                                                    .col-md-4.mb-3
                                                        - let viewUrl = '/staff/manage-sessions/' + session._id + '/' + term.name
                                                        a(href=viewUrl class="text-dark")
                                                            .box-field
                                                                p #[b #{term.name}]
                                        else
                                            p No ended term was found.

        include includes/footer.pug