include includes/header.pug 
block content
    link(rel="stylesheet" href="/stylesheets/dashboard.css")
    body
        .loader-bg
            .loader-track
                .loader-fill
        include includes/sidenav.pug 
        include includes/usernav.pug
        .pcoded-main-container
            .pcoded-wrapper
                .pcoded-content
                    .pcoded-inner-content
                        .main-body
                            .page-wrapper
                                .row
                                    .col-md-6
                                        if error
                                            if error.length != 0
                                                .alert.alert-danger.alert-dismissible.fade-in(role="alert")
                                                    button.close(type="button" data-dismiss="alert" aria-label="close")
                                                        span(aria-hidden="true") ×
                                                    span #{error}
                                        if success
                                            if success.length != 0
                                                .alert.alert-success.alert-dismissible.fade-in(role="alert")
                                                    button.close(type="button" data-dismiss="alert" aria-label="close")
                                                        span(aria-hidden="true") ×
                                                    span #{success}
                                p #[a(href="/school/fees/transactions/upload/proofs" class="btn btn-info") Payment Proofs #[i.feather.icon-arrow-right]]
                                .card
                                    .card-header
                                        h5 Upload a Transaction
                                        span.d-block.m-t-5 You can also check for proof of payments from parents.
                                    .card-body
                                        .row.justify-content-center
                                            .col-md-10
                                                form(method="POST")
                                                label Class :
                                                select(name="className" id="classID" class="form-control mb-3")


        include includes/footer.pug