include includes/header.pug
block content
    link(href="/fileinput/css/fileinput.css" media="all" rel="stylesheet" type="text/css")
    link(rel='stylesheet' , href='/stylesheets/dashboard.css')
    body
        .loader-bg
            .loader-track
                .loader-fill
        include includes/sidenav.pug 
        include includes/usernav.pug
        .pcoded-main-container
            .pcoded-wrapper
                .pcoded-content
                    .pcoded-inner-content
                        .main-body
                            .page-wrapper
                                .card
                                    div(class="card-header")
                                        h5 Create Note
                                    div(class="card-body")
                                        p #{message}
                                        form(action="", method="post" class="form-field" enctype="multipart/form-data")
                                            .row
                                                .col-md-4.col-sm-6.mb-3
                                                    label Week
                                                    input(type="number", name="week" class="form-control")
                                                .col-md-4.mb-3
                                                    label Subject & Class
                                                    select(name="subject" class="form-control custom-select")
                                                        option(value="" selected disabled="disabled") ------
                                                        each st in staff.teaching 
                                                            option(value=st._id) #{st.subject} (#{st.className})
                                                .col-md-4.col-sm-6.mb-3
                                                    label Date
                                                    input(type="date", name="date" class="form-control")
                                                .col-md-6.mb-3
                                                    label Upload File
                                                    div(class="form-group")
                                                        div(class="file-loading")
                                                            input(id="file-1" type="file" name="picture" class="file" data-show-upload="false" data-overwrite-initial="false" data-theme="fas")
                                                
                                                .col-md-12
                                                    button(type="submit").btn.btn-info.mt-3.pl-5.pr-5 Add Note
        
        script(src="/javascripts/jquery.min.js")                               
        script(src="/fileinput/js/fileinput.js" type="text/javascript")
        script(src="/fileinput/themes/fas/theme.js" type="text/javascript") 
        script(src="/javascripts/library/handle_upload.js")                                       
        include includes/footer.pug